
.vs/PerfectDino/v16/.suo
*.db
*.opendb
*.ipch
*.sarif
*.xml
*.obj
*.tlog
*.log
*.exe
x64/Debug/PerfectDino.exe.lastcodeanalysissucceeded
*.ilk
*.pdb
*.CopyComplete
*.txt
x64/Debug/SDL2_gfx.dll
x64/Release/data/arial.ttf
x64/Debug/vc142.idb
x64/Release/data/berd.png
x64/Release/data/cactusBig.png
x64/Release/data/berd2.png
x64/Release/data/cactusSmall.png
x64/Release/data/dinoDuck1.png
x64/Release/data/dinoDuck2.png
x64/Release/data/dinorun1.png
x64/Release/data/dinoJump.png
x64/Release/PerfectDino.ipdb
x64/Release/data/dinorun2.png
x64/Release/PerfectDino.iobj
PerfectDino.vcxproj.user
PerfectDino.vcxproj
PerfectDino.sln
x64/Debug/SDL2d.dll
x64/Release/libfreetype-6.dll
x64/Release/libpng16-16.dll
x64/Release/SDL2.dll
x64/Release/SDL2_gfx.dll
x64/Release/SDL2_image.dll
x64/Release/SDL2_ttf.dll
x64/Release/zlib1.dll
libfreetype-6.dll
